<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331677324376-utnlhi0lqqfelrd03c08uigjdgphvdku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331677324376-utnlhi0lqqfelrd03c08uigjdgphvdku</string>
	<key>API_KEY</key>
	<string>AIzaSyBMDCOkhif07u4Xun2TBQzSyBeB1vixOvo</string>
	<key>GCM_SENDER_ID</key>
	<string>331677324376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.contentsquare.presales.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>moonwalk-demo-96361</string>
	<key>STORAGE_BUCKET</key>
	<string>moonwalk-demo-96361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331677324376:ios:214c04c8f3d3df2b87a62d</string>
	<key>DATABASE_URL</key>
	<string>https://moonwalk-demo-96361.firebaseio.com</string>
</dict>
</plist>